@model HilfepatienMvc.Models.Receta

<!DOCTYPE html>
<html>


<head>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/images/LOGOTIPO.png" />

</head>

<body background="~/images/fondo1.jpg">

    <DIV ALIGN=center>
        <font face="Microsoft JhengHei">
            <font size="4">
                <h2>Edit</h2>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <br>
                        <legend>Receta</legend>
                        <br>
                        @Html.HiddenFor(model => model.Id)
                        <br>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Tipo_Medicamento)
                        </div>
                        <br>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Tipo_Medicamento)
                            @Html.ValidationMessageFor(model => model.Tipo_Medicamento)
                        </div>
                        <br>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Nombre_Medicamento)
                        </div>
                        <br>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Nombre_Medicamento)
                            @Html.ValidationMessageFor(model => model.Nombre_Medicamento)
                        </div>
                        <br>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Nombre_Paciente)
                        </div>
                        <br>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Nombre_Paciente)
                            @Html.ValidationMessageFor(model => model.Nombre_Paciente)
                        </div>
                        <br>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Fecha)
                        </div>
                        <br>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Fecha)
                            @Html.ValidationMessageFor(model => model.Fecha)
                        </div>
                        <br>
                        <p>
                            <input type="submit" value="Save" />
                        </p>
                    </fieldset>
                }
                <br>

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </font>
        </font>
    </DIV>
</body>
</html>