<!DOCTYPE html>
@model HilfepatienMvc.Models.Empleados
<html>

<head>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/images/LOGOTIPO.png" />
    <title>Registrar Empleado</title>
</head>
<body>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend align="center" class="ltraarriba">Nuevo Empleado</legend>
       <div align="right"> @Html.ActionLink("Regresar a la lista principal", "Index")</div>
        
        <center>
            <br />
            <br />
            <div class="register">
            <div class="editor-field">
                <label>Nombre completo</label>
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
            <br />
            <div class="editor-field">
                <label>Puesto asignado</label>
                @Html.EditorFor(model => model.Puesto)
                @Html.ValidationMessageFor(model => model.Puesto)
            </div>
            <br />
            <div class="editor-field">
                <label>Fecha de ingreso</label>
                @Html.EditorFor(model => model.Fecha_Ingreso)
                @Html.ValidationMessageFor(model => model.Fecha_Ingreso)
            </div>
            <br />
            <div class="editor-field">
                <label>Sueldo asignado</label>
                @Html.EditorFor(model => model.Sueldo)
                @Html.ValidationMessageFor(model => model.Sueldo)
            </div>
                </div>
            <br />
            <div class="botonesbajo1">
            <p>
                <input type="submit" value="Nuevo registro" class="btn-success" />
            
            </p>
                </div>
        </center>
    </fieldset>
}
 
    </body>
</html>